<div class='list-group-item messageBox'>
    <div>
        <img class='rounded-x' src='{0}' alt="">
        <strong>{1}</strong>
        <a href='{2}'>View</a>
    </div>
    <div>
        <span class='glyphicon-credit-card'></span>
        <span class='noteLabel'>Account #: </span>
        <span class='noteValue badge'>{3} </span>
    </div>
    <div>
        <span class='glyphicon-credit-card'></span>
        <span class='noteLabel'>Activity: </span>
        <span class='noteValue'>{4} </span>
    </div>
    <div>
        <span class='glyphicon-credit-card'></span>
        <span class='noteLabel'>Action Date: </span>
        <span class='noteValue badge'>{5} </span>
    </div>
    <div>
        <span class='glyphicon-credit-card'></span>
        <span class='noteLabel'>Relationship Officer: </span>
        <span class='noteValue badge'>NOT DEFINED</span>
    </div>
</div>