
<div id="tabNote">
    <ul>
        <li class="">
            Matured Investments
        </li>
        <li class="">
            Due Interest Pmts
        </li>
    </ul>
    <div>
        <div class='list-group'>
            <div class='list-group-item messageBox'>
                <div>
                    <img class='rounded-x' src='/ln/loans/image.aspx?cid=23&h=48&w=48' alt="">
                    <strong>Yusuf, Adama</strong>
                    <a href='/ln/deposit/with.aspx?id=1'>Withdraw</a>
                    <a href='/ln/deposit/rollOver.aspx?id=1'>Roll Over</a>
                </div>
                <div>
                    <span class='glyphicon-credit-card'></span>
                    <span class='noteLabel'>Account #: </span>
                    <span class='noteValue badge'>100300000002 </span>
                </div>
                <div>
                    <span class='glyphicon-credit-card'></span>
                    <span class='noteLabel'>Balance: </span>
                    <span class='noteValue badge'>500.00 </span>
                </div>
                <div>
                    <span class='glyphicon-credit-card'></span>
                    <span class='noteLabel'>Maturity Date: </span>
                    <span class='noteValue badge'>15-Jul-2014 </span>
                </div>
            </div>
            <div class='list-group-item messageBox'>
                <div>
                    <img class='rounded-x' src='/ln/loans/image.aspx?cid=2&h=48&w=48' alt="">
                    <strong>Weils, Raymond</strong>
                    <a href='/ln/deposit/with.aspx?id=2'>Withdraw</a>
                    <a href='/ln/deposit/rollOver.aspx?id=2'>Roll Over</a>
                </div>
                <div>
                    <span class='glyphicon-credit-card'></span>
                    <span class='noteLabel'>Account #: </span>
                    <span class='noteValue badge'>100300000003 </span>
                </div>
                <div>
                    <span class='glyphicon-credit-card'></span>
                    <span class='noteLabel'>Balance: </span>
                    <span class='noteValue badge'>1,000.00 </span>
                </div>
                <div>
                    <span class='glyphicon-credit-card'></span>
                    <span class='noteLabel'>Maturity Date: </span>
                    <span class='noteValue badge'>01-Sep-2014 </span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class='list-group'>
            <div class='list-group-item messageBox'>
                <div>
                    <img class='rounded-x' src='/ln/loans/image.aspx?cid=2&h=48&w=48' alt="">
                    <strong>Weils, Raymond</strong>
                    <a href='/ln/deposit/with.aspx?id=2'>Withdraw</a>
                </div>
                <div>
                    <span class='glyphicon-credit-card'></span>
                    <span class='noteLabel'>Account #: </span>
                    <span class='noteValue badge'>100300000003 </span>
                </div>
                <div>
                    <span class='glyphicon-credit-card'></span>
                    <span class='noteLabel'>Balance: </span>
                    <span class='noteValue badge'>1,000.00 </span>
                </div>
                <div>
                    <span class='glyphicon-credit-card'></span>
                    <span class='noteLabel'>Last Payment Date: </span>
                    <span class='noteValue badge'>03-Mar-2014 </span>
                </div>
            </div>
        </div>
    </div>
</div>