
<div class='list-group-item messageBox'>
    <div>
        <span class='glyphicon-credit-card'></span>
        <span class='noteLabel'>Cashier Name: </span>
        <span class='noteValue badge'>{0} </span>
    </div>
    <div>
        <span class='glyphicon-credit-card'></span>
        <span class='noteLabel'>Till Date: </span>
        <span class='noteValue badge'>{1} </span>
    </div> 
    <div>
        <span class='glyphicon-credit-card'></span>
        <a href="/ln/setup/openTill.aspx">Close Till</a>
    </div> 
</div>