<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework"
    type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
    requirePermission="false"/>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>

  <appSettings>
    <add key="SMS_SCHEMA" value="msg" />
    <add key="SMS_SENDER" value="Kilo" />
  </appSettings>
  
  <connectionStrings>
    <add name="LendzeeTestConnectionString1" connectionString="Data Source=(local);Initial Catalog=Lendzee;integrated security=true"
      providerName="System.Data.SqlClient"/>
    <add name="core_dbEntities"
      connectionString="metadata=res://*/Designer.CommonModel.csdl|res://*/Designer.CommonModel.ssdl|res://*/Designer.CommonModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=Lendzee;integrated security=true;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="reportEntities"
      connectionString="metadata=res://*/ReportModel.csdl|res://*/ReportModel.ssdl|res://*/ReportModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=Lendzee;integrated security=true;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="coreSecurityEntities"
      connectionString="metadata=res://*/Designer.coreSecurityModel.csdl|res://*/Designer.coreSecurityModel.ssdl|res://*/Designer.coreSecurityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=Lendzee;integrated security=true;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="coreLoansEntities"
      connectionString="metadata=res://*/Designer.LoansModel.csdl|res://*/Designer.LoansModel.ssdl|res://*/Designer.LoansModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=Lendzee;integrated security=true;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="coreGLEntities"
      connectionString="metadata=res://*/Designer.GLModel.csdl|res://*/Designer.GLModel.ssdl|res://*/Designer.GLModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=Lendzee;integrated security=true;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="coreTransferEntities"
      connectionString="metadata=res://*/TransferModel.csdl|res://*/TransferModel.ssdl|res://*/TransferModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=Lendzee;integrated security=true;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="CommerceEntities"
      connectionString="metadata=res://*/Designer.CommerceEntities.csdl|res://*/Designer.CommerceEntities.ssdl|res://*/Designer.CommerceEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=Lendzee;integrated security=true;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="momoModelsConnectionString"
      connectionString="metadata=res://*/Designer.momoModels.csdl|res://*/Designer.momoModels.ssdl|res://*/Designer.momoModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=Lendzee;integrated security=true;multipleactiveresultsets=True;application name=Entity &quot;"
      providerName="System.Data.EntityClient"/>
    <add name="notificationsModelConnectionString"
      connectionString="data source=(local);initial catalog=Lendzee;integrated security=true;multipleactiveresultsets=True;application name=EntityFramework"
      providerName="System.Data.SqlClient"/>
    <add name="CreditUnionModels"
      connectionString="metadata=res://*/Designer.CreditUnionModel.csdl|res://*/Designer.CreditUnionModel.ssdl|res://*/Designer.CreditUnionModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=Lendzee;integrated security=true;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>

    <add name="SMS_CONNECTION_STRING" connectionString="Data Source=(local);Initial Catalog=Lendzee;integrated security=true"/>

    
  </connectionStrings>
</configuration>