@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Job Cards";
}

<h2>Job Cards</h2>
<hr>
<div class="row">

    <div id="tabs">
        <ul>
            <li class="k-state-active">Job Cards</li>
        </ul>
        <div>
            <div id="grid"> </div>
        </div>
    </div>

</div>




@section FootScripts{
<script src="~/scripts/app/JobOrder/JobCard/JobCards.js"></script>
}
