<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="coreLoansEntities" connectionString="metadata=res://*/Designer.LoansModel.csdl|res://*/Designer.LoansModel.ssdl|res://*/Designer.LoansModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FORD;initial catalog=coreDBTest;integrated security = true;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>