@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Enter Invoice";
}


<h2>Enter Invoice</h2>

<hr>
<div id="myform" class="w-section inverse 1w boxed container">
    <div class="form-horizontal" type="form">
				<div class="row">
					<div align="center"><h4>Select Invoice Type</h4></div>		
					<div class="col-md-3"></div>
					<div class="col-md-3" align="center">
						<input type="radio" id="salesOrder1" name="salesOrder" class="k-radio" />
						<label class="k-radio-label" for="salesOrder1">Invoice With Sales Order</label>
					</div>			
					<div class="col-md-3">
						<input type="radio" id="salesOrder2" name="salesOrder" class="k-radio" />
						<label class="k-radio-label" for="salesOrder2">Invoice With Job Order</label>			
					</div>			
					<div class="col-md-3"></div>			
				</div>
		<br/>
        <div class="row">
            <div class="col-md-2" id="salesOrderTitle"></div>
            <div class="col-md-4" id="salesOrderInput">

            </div>

            <div class="col-md-2" id="invoiceDateTitle"></div>
            <div class="col-md-4" id="invoiceDateInput">
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-2"> Customer: </div>
            <div class="col-md-4">
                <input type="text" id="customer" required data-required-msg="Required"/>
            </div>

            <div class="col-md-2"> Payment Term: </div>
            <div class="col-md-4">
                <input type="text" id="paymentTerm" required data-required-msg="Invalid"/>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-2"> Currency: </div>
            <div class="col-md-4">
                <input type="text" id="currency" required data-required-msg="Invalid"  />
            </div>
        </div>
        <br />
			<div class="demo-section k-header">
				<div class="row">
					<div align="center"><h4>Choose Taxes That Apply</h4></div>
					<div class="col-md-3"></div>
					<div class="col-md-3" align="center">
					    <input type="checkbox" id="isVAT_NHIL" name="isVAT_NHIL" value="VAT & NHIL" class="k-checkbox" disabled="disabled"/>
							<label class="k-checkbox-label" for="isVAT_NHIL">Apply VAT & NHIL</label>
					</div>
					
					<div class="col-md-3" align="center">
                        <input type="checkbox" id="isWith" name="isWith" value="With" class="k-checkbox" disabled="disabled">
							<label class="k-checkbox-label" for="isWith">Apply WITHHOLDING TAX</label>
					</div>
					<div class="col-md-3"></div>
				</div>
			</div>
        <hr>
        <div class="row">

            <div id="tabs">
                <ul>
                    <li class="k-state-active">Invoice</li>
                </ul>
                <div>
                    <div id="grid"></div>
                </div>
            </div> <!--EndTab-->
          
        </div>
        <hr>
        <div class="row">
            <div>
                <div class="col-md-2">
                    <input type="button" class="btn btn-primary" id="save" value="Save Invoice" style="width: 100%" />
                </div>
            </div><!--SaveButton-->
        </div>
    </div>
</div>


@section FootScripts{
    <script type="text/javascript">
        var invoiceId = '@ViewBag.id';
    </script>
<script src="~/scripts/app/AccountRecievable/Invoice/EnterInvoice.js"></script>
}

