
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Invoices";
}


<div class="w-section inverse 1w boxed container">
    <h2>Invoices</h2>
    <hr>
    <div class="row">
        <div class="col-md-12" id="grid">
        </div>
    </div>
</div>




@section FootScripts{
<script src="~/scripts/app/AccountRecievable/Invoice/Invoices.js"></script>
}
