@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "InventoryItemsReport";
}

@section HeadScripts{
    <style>
        #report {
            position: absolute;
            left: 5px;
            right: 5px;
            top: 130px;
            height: 100%;
            font-family: 'segoe ui', 'ms sans serif';
            overflow: hidden;
        }
    </style>
}

<div id="report" class="k-widget"></div>

@section FootScripts
{
<script src="/Content/reporting/js/telerikReportViewer-14.1.20.618.min.js"></script>
<script src="~/scripts/app/Inventory/InventoryReports/InventoryItemsReport.js"></script>
}