<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="core_dbEntities" connectionString="metadata=res://*/CommonModel.csdl|res://*/CommonModel.ssdl|res://*/CommonModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local)\sqlexpress;Initial Catalog=coreDB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="reportEntities" connectionString="metadata=res://*/ReportModel.csdl|res://*/ReportModel.ssdl|res://*/ReportModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local)\sqlexpress;Initial Catalog=coreDB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="coreSecurityEntities" connectionString="metadata=res://*/coreSecurityModel.csdl|res://*/coreSecurityModel.ssdl|res://*/coreSecurityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local)\sqlexpress;Initial Catalog=coreDB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="coreDBConnectionString1" connectionString="Data Source=(local)\sqlexpress;Initial Catalog=coreDB;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="coreLoansEntities" connectionString="metadata=res://*/LoansModel.csdl|res://*/LoansModel.ssdl|res://*/LoansModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local)\sqlexpress;Initial Catalog=coreDB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="coreGLEntities" connectionString="metadata=res://*/GLModel.csdl|res://*/GLModel.ssdl|res://*/GLModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local)\sqlexpress;Initial Catalog=coreDB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="coreTransferEntities" connectionString="metadata=res://*/TransferModel.csdl|res://*/TransferModel.ssdl|res://*/TransferModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\sqlexpress;initial catalog=coreDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="coreMigration.Properties.Settings.dbConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\db.mdb" providerName="System.Data.OleDb" />
    <add name="coreMigration.Properties.Settings._27_08_13_Amended_and_new_uploadConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\27.08.13 Amended and new upload.xlsx&quot;;Extended Properties=&quot;Excel 12.0 Xml; HDR=Yes;&quot;" providerName="System.Data.OleDb" />
    <add name="coreMigration.Properties.Settings._27_08_13_Amended_and_new_uploadConnectionString1" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\27.08.13 Amended and new upload.xlsx&quot;;Extended Properties=&quot;Excel 12.0 Xml;HDR=Yes&quot;" providerName="System.Data.OleDb" />
    <add name="coreMigration.Properties.Settings._27_08_13_Amended_and_new_upload___CopyConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\unearned interest.xlsx&quot;;Extended Properties=&quot;Excel 12.0 Xml;HDR=Yes&quot;" providerName="System.Data.OleDb" />
    <add name="coreMigration.Properties.Settings.coreDBConnectionString" connectionString="Data Source=(local)\sqlexpress;Initial Catalog=coreDB;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>