@{
    ViewBag.Title = "Running Loans";
}
@section HeadScripts{
    <style>
        #reportViewer1 {
            position: absolute;
            left: 5px;
            right: 5px;
            top: 250px;
            height: 100%;
            font-family: 'segoe ui', 'ms sans serif';
            overflow: hidden;
        }
    </style>
}
<hr/>
<div id="myform" class="w-section inverse 1w boxed container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-1">Start Date</div>
        <div class="col-md-3">
            <input type="text" placeholder="--------Choose Start Date---------" id="startDate"/>
        </div>

        <div class="col-md-1">End Date</div>
        <div class="col-md-3">
            <input type="text" placeholder="--------Choose End Date---------" id="endDate"/>
        </div>
        <div class="col-md-2">
            <input type="button" class="btn btn-primary" id="getReport" value="Get Report" />            
        </div><!--SaveButton-->
        <div class="col-md-1"></div>

    </div>
    <br />
    <div class="row">
        <div>
            <div class="col-md-3"></div>
            <div class="col-md-9">
            </div>
        </div>
    </div>
</div>

<div id="reportViewer1" class="k-widget"></div>

@section FootScripts
{
    <script src="/Content/reporting/js/telerikReportViewer-14.1.20.618.min.js"></script>
    <script src="~/scripts/app/Loans/Reports/DisbursedLoans.js"></script>

   
}
