@{
    ViewBag.Title = "Loan Document Template";
}
@section HeadScripts{
    <style>
        #reportViewer1 {
            position: absolute;
            left: 5px;
            right: 5px;
            top: 350px;
            height: 100%;
            font-family: 'segoe ui', 'ms sans serif';
            overflow: hidden;
        }
    </style>
}
<hr/>
<div id="myform" class="w-section inverse 1w boxed container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            Document Name
            <input type="text" placeholder="--------Select Document---------" id="document"/>
        </div>
        <div class="col-md-4"></div>

    </div>
    <br/>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-1">Client</div>
        <div class="col-md-4">
            <input type="text" placeholder="--------Select Client---------" id="client"/>
        </div>

        <div class="col-md-1">Loan</div>
        <div class="col-md-4">
            <input type="text" id="loan"/>
        </div>
        <div class="col-md-1"></div>
    </div>
    
    <br />
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-2">
            <input type="button" class="btn btn-primary" id="getReport" value="Generate Document" />
        </div><!--SaveButton-->
    </div>
    <div class="row">
        <div>
            <div class="col-md-3"></div>
            <div class="col-md-9">
            </div>
        </div>
    </div>
</div>

<div id="reportViewer1" class="k-widget"></div>

@section FootScripts
{
    <script src="/Content/reporting/js/telerikReportViewer-14.1.20.618.min.js"></script>
<script src="~/scripts/app/Loans/Reports/LoanDocument.js"></script>
   
}
