@{

    Layout = "/Views/shared/_Layout.cshtml";
    ViewBag.Title = "Group Loans";

}

<div id="myform" class="w-section inverse 1w boxed container">
    <h3 class="pageBanner">Loan Group Batch Repayment</h3>
    <div id="form-container" style="position: relative">
        <div class="form-horizontal">
            <br/>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2">Payment Date</div>
                <div class="col-md-3">
                    <input class="form-control" type="text" id="paymentDate" required data-required-msg="Invalid">
                </div>
                <div class="col-md-2">Group</div>
                <div class="col-md-3">
                    <input class="form-control" type="text" id="group" required data-required-msg="Invalid">
                </div>
                <div class="col-md-1"></div>
            </div><br/>
        </div>
        <br />
        <div id="row">
            <div id="tabs">
                <ul>
                    <li class="k-state-active">Due Repayments</li>
                </ul>
                <div>
                    <div id="repaymentGrid"> </div>
                </div>
            </div> <!--EndTab--><br />
        </div>

    </div>
</div>





@section FootScripts{
<script src="~/scripts/app/Loans/GroupLoans/GroupLoanRepayment.js"></script>
}