@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Group Client Service Charges";
}

<h2>Group Loan Fees Repayment</h2>
<hr>
<div id="myform">
    <div id="form-container" style="position: relative">
        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-1 col-xs-1"></div>
                <div class="col-md-1 col-xs-1">Group: </div>
                <div class="col-md-3 col-xs-3">
                    <input type="text" id="group" />
                </div>
                <div class="col-md-1 col-xs-1"></div>
                <div class="col-md-2 col-xs-2">Payment Date: </div>
                <div class="col-md-3 col-xs-3">
                    <input type="text" id="paymentDate" />
                </div>
                <div class="col-md-1 col-xs-1"></div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 alert alert-danger" id="snack_bar"> The selected client doesn't have any undisbursed Loan. </div>
                <div class="col-md-4"></div>
            </div>
            <div id="row">
                <div id="tabs">
                    <ul>
                        <li class="k-state-active">Payments</li>
                    </ul>
                    <div>
                        <div id="paymentGrid"> </div>
                    </div>
                </div> <!--EndTab--><br />
            </div>
            <div class="row">
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary" id="save"> Save Payments </button>
                </div><!--SaveButton-->
                <br />
            </div>
        </div>
        <br />
    </div>
</div>


@section FootScripts{
    <script src="~/scripts/app/Loans/GroupLoans/GroupLoanFeesRepayment.js"></script>
}
