@{
    
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Brand";
    
}

<h2>Brand</h2>

<div>
    <div id="setupGrid">
    </div>
</div>


@section FootScripts{

<script src="~/scripts/app/Inventory/InventoryConfigurationManagement/brand.js"></script>

}
