@{
    
    Layout = "/Views/shared/_Layout.cshtml";
    ViewBag.Title = "Inventory Method";
    
}

<h2>Inventory Method</h2>

<div>
    <div id="setupGrid">
    </div>
</div>

@section FootScripts{

<script src="~/scripts/app/Inventory/InventoryConfigurationManagement/inventoryMethod.js"></script>
}