
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Shrinkage Reason";
}

<h2>Shrinkage Reason</h2>

<div>
    <div id="setupGrid">
    </div>
</div>


@section FootScripts{
<script src="~/scripts/app/Inventory/InventoryConfigurationManagement/shrinkageReason.js"></script>
}

