@{
    
    Layout = "/Views/shared/_Layout.cshtml";
    ViewBag.Title = "Unit Of Measurement";
    
}

<h2>Unit Of Measurement</h2>

<div>
    <div id="setupGrid">
    </div>
</div>

@section FootScripts{
<script src="~/scripts/app/Inventory/InventoryConfigurationManagement/unitOfMeasurement.js"></script>

}