
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Openning Balances";
}

<h2>Openning Balances</h2>
<hr>
<div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10" id="openingBalanceGrid">
        </div>
    </div>
</div>




@section FootScripts{

<script src="~/scripts/app/Inventory/InventoryOpenningBalanceManagement/openningBalance.js"></script>
}
