
@{
    ViewBag.Title = "Salary Loans Configuration";
}

<h2>Salary Loans Configuration</h2>

<div>
    <div id="setupGrid">
    </div>
</div>


@section FootScripts{

    <script src="~/scripts/app/Loans/SalaryLoans/salaryLoanConfig.js"></script> 
    <script src="/scripts/app/utilities.js"></script>

}




