
@{
    ViewBag.Title = "Salary Loans Pending Disbursement";
}

<h2>Salary Loans Pending Disbursement</h2>

<div>
    <div id="setupGrid">
    </div>
</div>


@section FootScripts{

    <script src="~/scripts/app/Loans/SalaryLoans/salaryLoanPendingDisbursement.js"></script> 
    <script src="/scripts/app/utilities.js"></script>

}




