<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <sectionGroup name="telerik.web.ui">
      <section name="radCompression" type="Telerik.Web.UI.RadCompressionConfigurationSection, Telerik.Web.UI" allowDefinition="MachineToApplication" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null" />
        <section name="crystalReportViewer" type="System.Configuration.NameValueSectionHandler" />
      </sectionGroup>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true" />
      </rptBuildProvider>
      <crystalReportViewer>
        <add key="ResourceUri" value="/crystalreportviewers13" />
      </crystalReportViewer>
    </crystalReports>
  </businessObjects>
  <location path="images" allowOverride="false">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="services/MenuService.asmx" allowOverride="false">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="styles" allowOverride="false">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <appSettings>
    
    
    
    <add key="Telerik.TabStrip.Skin" value="MetroTouch" />
    <add key="Telerik.ComboBox.Skin" value="MetroTouch" />
    <add key="Telerik.TileList.Skin" value="Silk" />
    <add key="Telerik.Ticker.Skin" value="BlackMetroTouch" />
    <add key="Telerik.Ticker.Scheduler" value="MetroTouch" />
    <add key="Telerik.Grid.Skin" value="Metro" />
    <add key="Telerik.Menu.Skin" value="MetroTouch" />
    <add key="Telerik.Splitter.Skin" value="MetroTouch" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Telerik.Web.UI.Menu.RenderMode" value="Classic" />
    <add key="Telerik.Web.UI.TileList.RenderMode" value="Mobile" />
    <add key="Telerik.Web.UI.Grid.RenderMode" value="LightWeight" />
    <add key="Telerik.Web.UI.StyleSheetFolders" value="~/App_Themes" />
    <add key="coreERPAPI_URL_Root" value="http://localhost:30988" />
    <add key="coreER_Url_Root" value="http://localhost:3310" />
    <add key="LOG_DIRECTORY" value="C:\CoreErp\Log" />
    <add key="COREERP_LOG_DIRECTORY" value="C:\CoreErp\LogInfo" />
	  
    <add key="vs:EnableBrowserLink" value="true" />
  <add key="Telerik.Skin" value="Silk" />
  <add key="Telerik.ScriptManager.TelerikCdn" value="Disabled" />
  <add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />
  </appSettings>
  <connectionStrings>
    <add name="coreDBTestConnectionString1" connectionString="Data Source=pd.acsghana.com,8888;Initial Catalog=coreDB;user id = dev_master; password=B3@ut1fu1" providerName="System.Data.SqlClient" />
    <add name="core_dbEntities" connectionString="metadata=res://*/Designer.CommonModel.csdl|res://*/Designer.CommonModel.ssdl|res://*/Designer.CommonModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=pd.acsghana.com,8888;Initial Catalog=coreDB;user id = dev_master; password=B3@ut1fu1;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="reportEntities" connectionString="metadata=res://*/ReportModel.csdl|res://*/ReportModel.ssdl|res://*/ReportModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=pd.acsghana.com,8888;Initial Catalog=coreDB;user id = dev_master; password=B3@ut1fu1;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="coreSecurityEntities" connectionString="metadata=res://*/Designer.coreSecurityModel.csdl|res://*/Designer.coreSecurityModel.ssdl|res://*/Designer.coreSecurityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=pd.acsghana.com,8888;initial catalog=coreDB;user id = dev_master; password=B3@ut1fu1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="coreLoansEntities" connectionString="metadata=res://*/Designer.LoansModel.csdl|res://*/Designer.LoansModel.ssdl|res://*/Designer.LoansModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=pd.acsghana.com,8888;initial catalog=coreDB;user id = dev_master; password=B3@ut1fu1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="coreGLEntities" connectionString="metadata=res://*/Designer.GLModel.csdl|res://*/Designer.GLModel.ssdl|res://*/Designer.GLModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=pd.acsghana.com,8888;Initial Catalog=coreDB;user id = dev_master; password=B3@ut1fu1;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="coreTransferEntities" connectionString="metadata=res://*/TransferModel.csdl|res://*/TransferModel.ssdl|res://*/TransferModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=pd.acsghana.com,8888;initial catalog=coreDB;user id = dev_master; password=B3@ut1fu1;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CommerceEntities" connectionString="metadata=res://*/Designer.CommerceEntities.csdl|res://*/Designer.CommerceEntities.ssdl|res://*/Designer.CommerceEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=pd.acsghana.com,8888;initial catalog=coreDB;user id = dev_master; password=B3@ut1fu1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="momoModelsConnectionString" connectionString="metadata=res://*/Designer.momoModels.csdl|res://*/Designer.momoModels.ssdl|res://*/Designer.momoModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=pd.acsghana.com,8888;initial catalog=coreDB;user id = dev_master; password=B3@ut1fu1;multipleactiveresultsets=True;application name=Entity &quot;" providerName="System.Data.EntityClient" />
    <add name="notificationsModelConnectionString" connectionString="data source=pd.acsghana.com,8888;initial catalog=coreDB;user id = dev_master; password=B3@ut1fu1;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="CreditUnionModels" connectionString="metadata=res://*/Designer.CreditUnionModel.csdl|res://*/Designer.CreditUnionModel.ssdl|res://*/Designer.CreditUnionModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=pd.acsghana.com,8888;initial catalog=coreDB;user id = dev_master; password=B3@ut1fu1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings> 
  <system.web> 
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.DataSetExtensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Telerik.Web.UI" />
        <add assembly="Telerik.Web.Design" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc" />
        <add assembly="System.Web.WebPages" />
        <add assembly="CrystalDecisions.Web" />
        <add assembly="CrystalDecisions.Shared" />
        <add assembly="CrystalDecisions.ReportSource" />
        <add assembly="CrystalDecisions.CrystalReports.Engine" />
        <add assembly="CrystalDecisions.CrystalReports.Design" />
        <add assembly="Telerik.ReportViewer.WebForms" />
        <add assembly="Telerik.Reporting" />
      </assemblies>
    </compilation>
    <pages viewStateEncryptionMode="Always" enableViewStateMac="true" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
        <add tagPrefix="telerik" namespace="Telerik.Web.Design" assembly="Telerik.Web.Design" />
        <add tagPrefix="ef" assembly="Microsoft.AspNet.EntityDataSource" namespace="Microsoft.AspNet.EntityDataSource" />
      </controls>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="~/security/login.aspx" name=".ASPXFORMSAUTHCOREERP" timeout="300" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <roleManager enabled="true" defaultProvider="coreRoleProvider">
      <providers>
        <clear />
        <add name="coreRoleProvider" applicationName="coreERP" type="coreSecurity.Provider.coreRoleProvider" connectionStringName="coreSecurityEntities" />
      </providers>
    </roleManager>
    <!--Custom Membership Provider Configuration-->
    <membership defaultProvider="coreMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="coreMembershipProvider" type="coreSecurity.Provider.coreMembershipProvider" connectionStringName="coreSecurityEntities" enablePasswordRetrieval="false" enablePasswordReset="false" requiresQuestionAndAnswer="false" writeExceptionsToEventLog="true" />
      </providers>
    </membership>
    <!-- 
    <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    -->
    <httpHandlers>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions" validate="false" />
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
      <!--<add verb="*" path="*CrystalImageHandler.aspx" type="WebReporting.Code.CrystalImageHandler" />-->
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
       <add path="Telerik.ReportViewer.axd" verb="*" type="Telerik.ReportViewer.WebForms.HttpHandler, Telerik.ReportViewer.WebForms" />
    </httpHandlers>
    <httpModules>
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" />
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression" />
    </httpModules>
    <httpRuntime targetFramework="4.5" maxRequestLength="20480" />
    <sessionState cookieless="UseCookies" mode="InProc" timeout="300" />
    <browserCaps>
      <case>
          RequiresControlStateInSession=true
        </case>
    </browserCaps>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" />
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression" preCondition="managedHandler" />
    </modules>
    <handlers>
      
      <remove name="ChartImage_axd" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <remove name="Telerik_Web_UI_WebResource_axd" /><add verb="*" name="ScriptResource_axd" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler" />
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, VerVersion=13.0.2000.0" preCondition="integratedMode" />
      <!--<add name="CrystalImageHandler_GET" verb="GET" path="*/CrystalImageHandler.aspx" type="WebReporting.Code.CrystalImageHandler" />-->
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,DELETE,PUT" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="Telerik.ReportViewer.axd_*" path="Telerik.ReportViewer.axd" verb="*" type="Telerik.ReportViewer.WebForms.HttpHandler, Telerik.ReportViewer.WebForms" />
    </handlers>
  <security>
    <requestFiltering>
      <requestLimits maxAllowedContentLength="20971520" /></requestFiltering></security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.ReportViewer.WebForms" publicKeyToken="a9d7983dfcc261be" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.2.14.1204" newVersion="8.2.14.1204" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>