 
@{
    ViewBag.Title = "Cashier Fund";
}

<div id="myform" class="w-section inverse 1w boxed container">
    <h3>Cashier Fund</h3>
    <br/>
    <div class="row">
        <div class="col-md-2 col-xs-2">Cashier Till: </div>
        <div class="col-md-4 col-xs-4">
            <input type="text" id="cashierTill" />
        </div>
        <div class="col-md-2 col-xs-2">Fund Date: </div>
        <div class="col-md-4 col-xs-4">
            <input type="date" id="fundDate" />
        </div>
    </div><br/>
    <div class="row">
        <div class="col-md-2 col-xs-2">Transfer Type: </div>
        <div class="col-md-4 col-xs-4">
            <input type="text" id="transferType" />
        </div>
        <div class="col-md-2 col-xs-2" id="accountLabel">From Account: </div>
        <div class="col-md-4 col-xs-4">
            <input type="text" id="account" />
        </div>
    </div><br/>
    <div class="row">
        <div class="col-md-2 col-xs-2">Transfer Amount: </div>
        <div class="col-md-4 col-xs-4">
            <input type="text" id="transferAmount" />
        </div>
        
    </div><br />
    <div class="row">
        <div class="col-md-2">
            <button type="button" class="btn btn-primary" id="save">Fund Cashier &raquo; </button>
        </div><!--SaveButton-->
        <br/>
    </div>
</div>

@section FootScripts{

    <script type="text/javascript">
        var cashierFundId = '@ViewBag.id';
    </script>
<script src="~/scripts/app/Loans/Cashier/CashierFund.js"></script>
}