 
@{
    ViewBag.Title = "Cashier Fund";
}

<div id="myform" class="w-section inverse 1w boxed container">
    <div class="col-md-10">
        <h3 style="margin-top:10px;">Cashier Funding</h3>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-primary" id="refresh" style="width: 100%">Refresh &raquo; </button>
    </div>
    <br/>
    <br />
    <div id="row">
        <div id="tabs">
            <ul>
                <li class="k-state-active">Fund Cashier</li>
                <li>Cashup Cashier</li>
            </ul>
            <div>
                <div id="cashierFundGrid"></div>
                <script type="text/x-kendo-template" id="detail-template">
                    <div class="tabstrip">
                        <ul>
                            <li class="k-state-active">Notes</li>
                            <li>Coins</li>
                        </ul>

                        <div>
                            <div class="notes"></div>
                        </div>
                        <div>
                            <div class="coins"></div>
                        </div>
                   </div>
                </script>
            </div>
            <div>
                <div id="cashierCashupGrid"></div>
                <script type="text/x-kendo-template" id="detail-template">
                    <div class="tabstrip">
                        <ul>
                            <li class="k-state-active">Notes</li>
                            <li>Coins</li>
                        </ul>

                        <div>
                            <div class="notes"></div>
                        </div>
                        <div>
                            <div class="coins"></div>
                        </div>
                    </div>
                </script>
            </div>
        </div> <!--EndTab--><br/>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary" id="save" style="width: 100%">Save Funding &raquo; </button>
            </div><!--SaveButton-->
            <br />
        </div>
</div>


@section FootScripts{
@*<script id="detail-template">

  //<div class="subgrid1"></div>
  //<div class="subgrid2"></div>
</script>*@
<script src="~/scripts/app/Loans/Cashier/CashierFunding.js"></script>
}