
@{
    ViewBag.Title = "Client Checks";
}

<div id="myform" class="w-section inverse 1w boxed container">
    <h3>Investment Receipts</h3>
    <hr />
    <div>
        <div id="tabs">
            <ul>
                <li class="k-state-active">Clients</li>
            </ul>
            <div>
                <div id="grid"> </div>
            </div>
        </div> <!--EndTab--><br />
    </div>
    
</div>

@section FootScripts{
<script src="~/scripts/app/Loans/Deposit/ClientInvestmentReceipts.js"></script>
}