 
@{
    ViewBag.Title = "Manage Client Investment Products";
}

<h3>Manage Client Investment Products</h3>
<div id="setupGrid"></div>

@section FootScripts{
    <script src="/scripts/app/Loans/Deposit/depositType.js"></script>
}