 
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Interest Upgrade";
}

<div class="w-section inverse ">
    <h3 class="pageBanner">Interest Upgrade pending Approval</h3>
    <div id="tabs">
        <ul>
            <li class="k-state-active">Interest Approval</li>
        </ul>
        <div>
            <div id="grid"> </div>
        </div>
    </div> <!--EndTab--><br />
</div>

@section FootScripts{
<script src="~/scripts/app/Loans/Deposit/DepositInterestUpgrade.js"></script>
}