 
@{
    ViewBag.Title = "Due Investment Checks";
}

<h3>Due Investment Checks</h3>

<div id="setupGrid"></div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <button id="save" class="btn btn-primary">Save Change(s)&raquo;</button>
    </div>
</div>

@section FootScripts{
<script src="~/scripts/app/Loans/Deposit/DueDepositChecks.js"></script>
}