@{

    Layout = "/Views/shared/_Layout.cshtml";
    ViewBag.Title = "Borrowing Repayment Schedule";

}
<div>
    <h2>Borrowing Repayment Schedule</h2>
</div>
<br/>
<div class="w-section inverse 1w boxed container form-horizontal" id="myform">
    <div class="form-horizontal" type="form">
        <div class="row">
            <div class="col-md-3"></div>            
            <div class="col-md-2">Borrowing Client:</div>
            <div class="col-md-4">
                <input type="text" id="client" data-val="true" data-val-required="*">
            </div>
            <div class="col-md-3"></div>
        </div>
        <br />
        <div class="row">
            <div id="row">
                <div id="tabs">
                    <ul>
                        <li class="k-state-active">Borrowing Accounts</li>
                    </ul>
                    <div>
                        <div id="grid"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section FootScripts{

    <script>
        var id = '@ViewBag.Id';
    </script>
<script src="~/scripts/app/Loans/Borrowing/BorrowingRepayment.js"></script>
}